<library-header></library-header>
<div class="container" style="min-height: calc(100vh - 153px)">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<library-footer></library-footer>
