<div class="row">
  <div class="col">
    <div class="list-group mb-4 mt-3 mt-lg-0">
      <button
        type="button"
        class="btn btn-outline-secondary list-group-item"
        [ngClass]="{ active: selectedCategoryId === null }"
        (click)="onCategorySelect(null)"
      >
        All
      </button>
      <button
        *ngFor="let category of categories$ | async"
        type="button"
        [ngClass]="{ active: selectedCategoryId === category._id }"
        class="btn btn-outline-secondary list-group-item"
        (click)="onCategorySelect(category._id)"
      >
        {{ category.name }}
      </button>
    </div>
  </div>
</div>
