<!-- Save Modal -->
<form (ngSubmit)="onContactSubmit(f, c)" #f="ngForm">
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            [email]="true"
            libraryMyValidationDirective
            type="text"
            class="form-control"
            id="email"
            name="email"
            required
            #email="ngModel"
            ngModel
            [ngClass]="{
              'is-invalid':
                error?.name || (email.invalid && (email.dirty || email.touched))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            Please enter correct email!
          </div>
          <div *ngIf="error?.name" class="invalid-feedback">
            {{ error.name }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="message">Message</label>
              <input
                type="text"
                class="form-control"
                id="message"
                name="message"
                ngModel
                required
                #message="ngModel"
                [ngClass]="{
                  'is-invalid':
                    error?.name ||
                    (message.invalid && (message.dirty || message.touched))
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="message.invalid && (message.dirty || message.touched)"
              >
                Please enter correct message!
              </div>
              <div *ngIf="error?.name" class="invalid-feedback">
                {{ error.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="onContactCancel(f)"
      #c
    >
      Close
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
      Submit
    </button>
  </div>
</form>
